<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->

    <div
        class="bg-default  flex flex-col p-0 pb-1 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-4 sm:pb-4 sm:pt-4">
        <div class="min-w-0 flex-1">
            <div class="mt-2">
                <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                    Riscos
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <button mat-stroked-button class="rounded px-2 py-2 bg-accent-300
                text-on-accent-300 " type="button">
                Cancelar
            </button>
            <div>
                <button mat-flat-button class="ml-3 rounded px-2 py-2 bg-primary
                    text-on-primary" type="button">
                    Salvar
                </button>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="h-400 max-h-400 min-h-400 rounded-2xl border-2 border-dashed border-gray-300">
            <mat-tab-group [animationDuration]="'0ms'">
                <!-- Identificação de Riscos -->
                <mat-tab label="Evento de Risco">
                    <!-- Classificação de risco -->
                    <form class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Classificação de risco*</mat-label>
                                <mat-select [formControl]="toppings" multiple>
                                  <mat-select-trigger>
                                    {{toppings.value?.[0] || ''}}
                                    @if ((toppings.value?.length || 0) > 1) {
                                      <span class="example-additional-selection">
                                        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                      </span>
                                    }
                                  </mat-select-trigger>
                                  @for (topping of toppingList; track topping) {
                                <mat-option [value]="topping">{{topping}}</mat-option>
                              }
                                </mat-select>
                              </mat-form-field>

                        </div>
                        <!-- Objetivo(s) estratégico(s) -->
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Objetivo(s) estratégico(s)*</mat-label>
                                <mat-select [formControl]="toppings" multiple>
                                  <mat-select-trigger>
                                    {{toppings.value?.[0] || ''}}
                                    @if ((toppings.value?.length || 0) > 1) {
                                      <span class="example-additional-selection">
                                        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                      </span>
                                    }
                                  </mat-select-trigger>
                                  @for (topping of toppingList; track topping) {
                                <mat-option [value]="topping">{{topping}}</mat-option>
                              }
                                </mat-select>
                              </mat-form-field>

                        </div>

                          <div class="p-4">
                            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                              <div class="p-4 w-full border-gray-200 flex justify-between items-center "*ngFor="let objetivo of objetivosEstrategicos">
                                <span >{{ objetivo.objetivoEstrategico }}</span>
                                <button class="text-gray-500 hover:text-red-600">
                                    <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
                                </button>

                              </div>

                            </div>
                          </div>

                          <!-- Objetivos operacionais -->
                          <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Objetivo(s) Operacionai(s)*</mat-label>
                                <input matInput [(ngModel)]="objetivosEstrategicos" />
                                <button >
                                    <mat-icon class="" svgIcon="feather:plus-circle"></mat-icon>

                                </button>

                            </mat-form-field>

                        </div>
                        <!-- Lista de objetivos operacionais -->
                          <div class="p-4">
                            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                              <div class="p-4 w-full border-gray-200 flex justify-between items-center "*ngFor="let objetivo of objetivosEstrategicos">
                                <span >{{ objetivo.objetivoOperacional }}</span>
                                <button class="text-gray-500 hover:text-red-600">
                                    <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
                                </button>

                              </div>

                            </div>
                          </div>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Evento de risco*</mat-label>
                                    <textarea matInput placeholder="Ex. 100 Main St"></textarea>


                                </mat-form-field>

                            </div>






                    </form>
                </mat-tab>
                <!-- Causas -->
                <mat-tab label="Causas(s)">

                    <form class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Causa(s)</mat-label>
                                <input matInput />
                                <button >
                                    <mat-icon class="" svgIcon="feather:plus-circle"></mat-icon>

                                </button>

                            </mat-form-field>

                        </div>
                        <div class="p-4">
                            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                              <div class="p-4 w-full border-gray-200 flex justify-between items-center "*ngFor="let objetivo of objetivosEstrategicos">
                                <span >{{ objetivo.causas }}</span>
                                <button class="text-gray-500 hover:text-red-600">
                                    <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
                                </button>

                              </div>

                            </div>
                          </div>
                    </form>

                </mat-tab>
                <!-- Controle(s) Preventivo(s) -->

                <!-- Evento de Risco -->

                <!-- Consequâncias -->
                <mat-tab label="Consequências">
                    <form class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Consequência(s)</mat-label>
                                <input matInput />
                                <button >
                                    <mat-icon class="" svgIcon="feather:plus-circle"></mat-icon>

                                </button>

                            </mat-form-field>

                        </div>
                        <div class="p-4">
                            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                              <div class="p-4 w-full border-gray-200 flex justify-between items-center "*ngFor="let objetivo of objetivosEstrategicos">
                                <span >{{ objetivo.consequencia }}</span>
                                <button class="text-gray-500 hover:text-red-600">
                                    <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
                                </button>

                              </div>

                            </div>
                          </div>
                    </form>
                </mat-tab>
                <!-- Controle(s) Corretivo(s -->

            </mat-tab-group>

        </div>
    </div>
</div>
